h2 {
  text-align: center;
}

h4 {
  text-align: center;
  color: #0000FF;
}

body {
  background-color: #AED6F1 ;
  color: #000080;
}

.full {
  padding-top: 20px;
  padding-left: 250px;
  padding-right: 250px;
}
.fName {
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
}
